/*#img {
height:350 px;
width:1000x;
position:absolute;
}
#left_holder {

height:50px;
width:120px;
position:absolute;
left:0px;
top:0px;
}
#right_holder {

height:50px;
width:120px;
position:absolute;
left:0px;
top:0px;
}
.left {
height:50px;
/* 50 is width */
<!--width:120px;
position:absolute;
top:40%;
left:0px;
}
.right {
height:50px;
width:120px;
position:absolute;
top:40%;
left:0px;
}-->

*/





