<!DOCTYPE html>
<html>
<head>
    <title>RDMS</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/sty.css" />
</head>
<body>
<div id="jpt">

</div>

<p> This is the searchpage for area</p>

</body>
</html>