<div id ="center " align="center" width="400px">



    <form method="post" action="/helptype/service">
        <table class="table table-bordered " class="col-sm-2" align="right">
            <thead>
            <tr >

                <td>
                    <label>Service Name</label>


                    <input type="text" class="form-control" placeholder="Service Name" name="servicename">
                </td>

            </tr>
            <tr>
                <!-- <div class="form-group" align="center"> -->
                <td>
                    <label>Service Description</label>
                    <input type="text" class="form-control" placeholder="Service Description" name="servicedescription">
                </td>
                <!-- </div> -->
            </tr>
            <tr >

                <td>
                    <label>Service Type</label>
                    <input type="text" class="form-control" placeholder="Service Type" name="servicetype">
                </td>

            </tr> <!-- here -->
            <tr >

                <td><label>Service Provider</label>
                    <input type="text" class="form-control" placeholder="Service Provider" name="serviceprovider">
                </td>

            </tr>
            <tr >
                <td><button type="submit" class="btn btn-default" align="center">Submit</button></td>
            </tr>
            <!--<p>
                     <div class="form-group" align="center">
                         <label>Service Description</label>
                         <input type="text" class="form-control" placeholder="Service Description" name="servicedescription">
                     </div>
                 </p>-->

        </table>

    </form>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>





</div>
<div id="lok1">

</div>
</div>
