{{> header}}
<div>
    <li role="presentation"><a href="/">Logout</a></li>
    <p>Successfully Logged in!</p>

<<<<<<< HEAD
    <a href="/users/message">MessageFlow</a>


</div>
{{> footer}}
=======
    <a href="/users/message">message</a>


</div>
>>>>>>> 11d7a9d8f4ba1f992b64f69019a47d7a7ccd2825
