<<<<<<< HEAD
{{> header}}
<div id="jpt">

</div>
<h3>Service</h3>
    <button class="btn btn-default"><i class="ion-settings"></i><a href="/helptype/service">Service Type Setup</a></button>
=======
<h1>Service</h1>

<div class="col-md-8">



   <!-- <button>
        <a href="/users/service">Add Service</a>
    </button> -->

   <a href="/helptype/service">ServiceType Setup</a>
>>>>>>> 11d7a9d8f4ba1f992b64f69019a47d7a7ccd2825
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" border="1">
        <thead>
        <tr>
            <td>Service Name</td>
<<<<<<< HEAD
=======


>>>>>>> 11d7a9d8f4ba1f992b64f69019a47d7a7ccd2825
        </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                <td><a class ="a-inside edit" href="/helptype/servicedescription{{this.Id}}">{{this.ServiceName}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{> footer}}