.a{
    position:absolute;
    top:580px;
    left:20px;
    font-size:20px;
    opacity:0.3;
    background-color:lightgoldenrodyellow ;
}
.b{
    position:absolute;
    top:610px;
    right:30px;
    opacity:1;
    font-size:20px;

}
.img{
    width:50%;
    height:500px;;
    top:50px;

}
.aside1{
    float:right;
      top:0px;
}
.img1{
    height:500px;
    width:100%;
    top:0px;
}
.h{
    top:0px;
}